.page-layout {
    display: grid;
    grid-template-rows: 1fr .25fr 1fr;
    grid-template-areas: 
        "head"
        "searchbox"
        "searchresults";
        
    justify-items: center;
    align-items: center;
}

.head {
    grid-area: head;
}

.search-box {
    grid-area: searchbox;
}

.search-results {
    grid-area: searchresults;
}
